.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #111;
  color: white;
}

.text {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

.button {
  background: #00aaff;
  padding: 12px 26px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-size: 18px;
}

.button:hover {
  background: #0088cc;
}
